@model CurrencyManagement.Models.Currency

<h2>Currency</h2>

<form asp-action="Create">

    <div class="mb-3">

        <label>Code</label>

        <input asp-for="Code" class="form-control" />

        <span asp-validation-for="Code"></span>

    </div>

    <div class="mb-3">

        <label>Name</label>

        <input asp-for="Name" class="form-control" />

        <span asp-validation-for="Name"></span>

    </div>

    <div class="mb-3">

        <label>

            <input asp-for="IsActive" />

            Active

        </label>

    </div>

    <button class="btn btn-success">

        Save

    </button>

</form>